# Xcode
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.moved-aside

# Build
build/
*.o
*.d

# Swift Package Manager
.build/
.swiftpm/
*.resolved

# CocoaPods
Pods/
Podfile.lock

# macOS
.DS_Store
.AppleDouble
.LSOverride
*.icloud

# Xcode Previews
PreviewReplacement/

# Instruments
*.trace

# Screenshots / temp
*.jpg
*.png
*.gif
